flask[async]
Flask-Login
python-dotenv
aiohttp
pymongo
flask_pymongo
waitress
Flask-WTF
requests
Pillow
Flask-Limiter[mongodb]
pywebpush
py-vapid
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability