flask[async]
Flask-Login
python-dotenv
aiohttp
pymongo
flask_pymongo
waitress
Flask-WTF
requests
Pillow
Flask-Limiter[mongodb]
pywebpush
py-vapid
cachetools
Flask-CORS
colorlog
urllib3>=2.6.0 # not directly required, pinned by Snyk to avoid a vulnerability
